<article id="user">
  <header>
    <h1><%= @user.name %></h1>
    <h2><%= mail_to(@user.email) %></h2>
  </header>
  <footer>
  <% if current_user?(@user) %>
    <%= link_to 'Edit Account', edit_user_path(@user), class: 'button' %>
  <% end %>
  <% if current_user_admin? %>
    <%= link_to 'Delete Account', user_path(@user), method: 'delete', class: 'button' %>
  <% end %>
  </footer>
</article>