<aside style="float: right; background: #F0F0F0; width: 200px;">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Orders', orders_path %>
      </li>
      <li>
        <%= link_to 'Add New Order', new_order_path %>
      </li>
    </ul>
  </nav>
</aside>